.done-true {
    text-decoration: line-through;
    color: #e56;
}

.btn:focus,
.btn:active {
    outline: none;
}

.load-data-btn {
    margin-top: 12px;
}

ul.unstyled {
    margin: 5px 0;
    padding: 0;
}

.form-control {
    height: 40px;
    padding: 8px 15px;
}

.product-heading-section h4,
.feature-heading-section h4,
.product-heading-section button,
.feature-heading-section button {
    display: inline-block;
}

.product-heading-section h4,
.feature-heading-section h4 {
    color: #063886;
    text-transform: uppercase;
}

.product-heading-section button,
.feature-heading-section button {
    margin-top: 10px;
}

.unstyled li {
    list-style: none;
}

.unstyled li .checkbox {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.unstyled li .checkbox span,
select.form-control,
.product-list li .panel-footer li span {
    text-transform: capitalize;
}

.margin-top-small {
    margin-top: 80px;
}

.panel-custom {
    border-color: #707782;
}

.panel-custom>.panel-heading {
    color: #ffffff;
    background-color: #707782;
    border-color: #707782;
}

.btn-align-middle {
    margin-top: -1px;
    margin-left: 5px;
}

.trash,
.error-msg {
    color: #e45;
}

.flag {
    color: rgb(248, 148, 6);
}

.feature-list .panel-body {
    padding: 0px;
}

.feature-list .panel-footer .pagination {
    margin: 0;
}

.feature-list .list-group-item {
    padding: 5px 15px;
    text-transform: capitalize;
}

.feature-list .panel .glyphicon,
.feature-list .list-group-item .glyphicon {
    margin-right: 5px;
}

.feature-list .panel-body .radio,
.checkbox,
.action-buttons {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.feature-list .checkbox {
    width: 74%;
}

@media (min-device-width: 375px) and (max-device-width: 700px) {
    .product-heading-section .pull-right {
        float: none !important;
    }
    .feature-list .checkbox {
        width: 70%;
    }
}

.feature-list .panel-body input[type=checkbox]:checked+label {
    text-decoration: line-through;
    color: rgb(128, 144, 160);
}

.feature-list .list-group-item:hover,
.feature-list a.list-group-item:focus {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.feature-list .list-group {
    margin-bottom: 0px;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info h4 {
    color: #1b809e;
}

.product-list .panel-default {
    border-color: #ecf0f1;
    border-left-color: #d8e2ec;
    border-left-width: 3px;
}

.product-list .panel-footer {
    padding: 0px 5px;
    background-color: #e9f5fb;
    border-top: 1px solid #ecf0f1;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.product-list .panel-footer li.ng-scope {
    padding: 20px 10px;
}

ul.product-list,
.panel-footer ul {
    margin: 0;
    padding: 0;
}

.product-list .panel-footer li.ng-scope {
    padding: 10px 20px;
}

ul.product-list .panel-body {
    padding: 10px;
}

ul.product-list .panel-body .col-md-7 {
    padding-left: 5px !important;
}

.fadein,
.fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.fadein {
    opacity: 1;
}

.margin-right-sm {
    margin-right: 10px;
}

.margin-top-sm {
    margin-top: 10px;
}

.margin-top-sm a {
    margin: 0 5px;
}

.margin-top-sm .btn-xs {
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.1;
    border-radius: 3px;
}

.panel-primary.panel-custom-2 {
    border-color: #cecece;
}

.panel-primary.panel-custom-2>.panel-heading {
    color: #ffffff;
    background-color: #626567;
    border-color: #686c6f;
}

.margin-bottom-none {
    margin-bottom: 0;
}


/*checkbox*/

.product-heading-section .checkbox,
.feature-heading-section .checkbox {
    padding-left: 15px;
    font-size: 13px;
    line-height: 17px;
}

.product-heading-section .checkbox label,
.feature-heading-section .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.product-heading-section .checkbox label::before,
.feature-heading-section .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.product-heading-section .checkbox label::after,
.feature-heading-section .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.product-heading-section .checkbox input[type="checkbox"],
.feature-heading-section .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.product-heading-section .checkbox-primary input[type="checkbox"]:checked+label::before,
.feature-heading-section .checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.product-heading-section .checkbox input[type="checkbox"]:checked+label::after,
.feature-heading-section .checkbox input[type="checkbox"]:checked+label::after {
    font-family: "FontAwesome";
    content: "\f00c";
    color: #fff;
}