<!doctype html>
<html ng-app="todoApp">

<head>
    <title>Angularjs Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{title}}</a>
            </div>
            <button type="button" class="btn btn-default pull-right load-data-btn btn-xs" ng-click="loadProducts()">Load Sample Data</button>
        </div>
    </nav>
    <div class="container-fluid margin-top-small">
        <div ng-controller="ProductController">
            <div class="row">
                <div class="col-md-3">
                    <!-- add product section-->
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{label.add_product_title}}</h3>
                        </div>
                        <div class="panel-body">
                            <form name="productForm" ng-submit="addProduct()">
                                <!-- name field section-->
                                <div class="form-group">
                                    <label for="name" class="control-label">{{label.product_name_lbl}}: </label>
                                    <input class="form-control" type="text" id="product_name" name="product_name" ng-model="productName" required>
                                </div>
                                <div class="form-group">
                                    <label for="feature_list" class="control-label">{{label.feature_list_lbl}}: </label>
                                    <select class="form-control" name="feature_list" ng-options="feature.text for feature in features" ng-model="selectedFeature" required>
                                        <option value="">--Empty Feature List--</option>
                                    </select>
                                </div>
                                <!-- button section -->
                                <div class="form-group margin-bottom-none">
                                    <!--<button class="btn btn-success" ng-click="addProduct()">Save</button>-->
                                    <input class="btn btn-success" type="submit" ng-disabled="!productName.length" value="Save">
                                    <button type="button" class="btn btn-primary add-feature" ng-click="addFeatureWindow()">Add New Feature</button>
                                </div>
                                <p class="error-msg" ng-show="submitted && productForm.product_name.$error.required">Product name is required.</p>
                                <p class="error-msg" ng-show="submitted && productForm.feature_list.$error.required">Feature name is required.</p>
                            </form>
                        </div>
                    </div>
                    <!-- add features section-->
                    <div class="panel panel-info" id="addFeatureWindow">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{label.add_feature_title}}</h3>
                        </div>
                        <div class="panel-body">
                            <form ng-submit="addFeature()">
                                <!-- name field section-->
                                <div class="form-group">
                                    <label for="name" class="control-label">{{label.feature_name_lbl}}: </label>
                                    <input class="form-control" type="text" ng-model="featureName">
                                </div>
                                <!-- button section -->
                                <div class="form-group margin-bottom-none">
                                    <input class="btn btn-primary" type="submit" ng-disabled="!featureName.length" value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- right side list -->
                <div class="col-md-5">
                    <div class="product-heading-section">
                        <h4>{{label.product_info_title}}</h4>
                        <button class="btn btn-danger btn-xs pull-right" ng-click="clearProduct()" ng-disabled="totalProductCount() === products.length ?  true : false" ng-show="products.length">{{label.remove_btn_product}}</button>
                        <div class="checkbox checkbox-primary" ng-show="products.length">
                            <input type="checkbox" id="toggle_select" ng-model="isAllSelectedProducts" ng-click="toggleSelectProduct()">
                            <label for="toggle_select">{{toggleSelectionProducts}}</label>
                        </div>
                    </div>
                    <div ng-show="!products.length" class="text-danger">No Product Found</div>
                    <ul class="unstyled product-list">
                        <li ng-repeat="product in products">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-7">
                                        <label class="checkbox">
                                        <input type="checkbox" ng-model="product.done">
                                        <span class="done-{{product.done}}">{{product.text}}</span>
                                    </label>
                                    </div>
                                    <div class="pull-right action-buttons margin-top-sm">
                                        <button class="btn btn-info btn-xs btn-align-middle pull-right feature-btn" ng-click="showDetails = !showDetails" ng-show="product.features.length">Feature Details</button>
                                        <a href="#" class="trash pull-right" ng-click="deleteProduct($index)"><span class="glyphicon glyphicon-trash"></span></a>
                                        <a href="#" class="pull-right" ng-click="editProduct($index)"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <ul>
                                        <li ng-repeat="productFeature in product.features" ng-if="features.length" ng-show="showDetails">
                                            <span>{{productFeature.text}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--features list -->
                <div class="col-md-4">
                    <div class="feature-heading-section">
                        <h4>{{label.feature_list_title}}</h4>
                        <button class="btn btn-danger btn-xs pull-right" ng-click="clearFeature()" ng-disabled="totalFeatureCount() === features.length ?  true : false" ng-show="features.length">{{label.remove_btn_feature}}</button>
                        <div class="checkbox checkbox-primary" ng-show="features.length">
                            <input type="checkbox" id="toggle_select" ng-model="isAllSelectedFeature" ng-click="toggleSelectFeature()">
                            <label for="toggle_select">{{toggleSelectionFeature}}</label>
                        </div>
                    </div>
                    <div ng-show="!features.length" class="text-danger">No Feature Found</div>
                    <div class="panel panel-primary panel-custom-2" ng-show="features.length > 0">
                        <div class="panel-heading">
                            <span>Feature List</span>
                        </div>
                        <div class="panel-body feature-list">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="feature in features">
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox" ng-model="feature.done" />
                                        <label for="checkbox" class="done-{{feature.done}}">
                                    {{feature.text}}
                                </label>
                                    </div>
                                    <div class="pull-right action-buttons">
                                        <a href="#" ng-click="editFeature($index)"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href="#" class="trash" ng-click="deleteFeature($index)"><span class="glyphicon glyphicon-trash"></span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <span>{{totalFeatureCount()}} of {{features.length}} remaining</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>